/** {*/
/*    border: 1px solid red;*/
/*}*/

.loginPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 25px 0;
}

.main-text p {
    margin-top: 5px ;
}

.error-text {
    color: red;
    font-weight: bolder;
}