/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.menu {
    margin: 0 5px 20px 0;
    width: 60px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    background-color: #5F5F5F;

}

.menu::before,
.menu::after {
    background-color: #5F5F5F;
    border-radius: 5px;
    content:'';
    position: absolute;
    display: block;
    height: 10px;
    width: 60px;
    right: 0;
}

.menu::before {
    top: 20px;
}

.menu::after {
    top: -20px;
}

@media screen and (min-width: 576px) {
    .menu {
        display: none;
    }

}
