/**{*/
/*    border: 1px solid red;*/
/*}*/

.main-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 50px 0;
}

.profile-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 60px 30px 60px;
    background-color: #A7C957;
}

.profile-form input {
    padding: 10px;
    margin: 1rem;
    width: 250px;
    outline: none;
}

.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.display-error {
    display: inline-block;
}

.display-error p {
    color: red;
    font-size: 10px;
    margin-left: 15px;
}

@media screen and (min-width: 576px) {
    .main-profile {
        /*width: 100vw;*/
    }
}