.send-button-cta {
    margin: 50px;
}

.send-cta {
    background-color: #5F5F5F;
    color: white;
    padding: 15px;
    border: none;
    text-align: center;
    display: inline-block;
    outline: none;
    /*width:*/
}