.btn-mail {
    background-color: #5F5F5F;
    color: white;
    padding: 15px;
    border: none;
    text-align: center;
    display: inline-block;
    outline: none;
    width: 150px;
    margin-top: 20px;
    text-decoration: none;
}
