/**{*/
/*    border: 1px solid red;*/
/*}*/

.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.main-profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-profile-page p {
    margin-top: 10px;
}