.sign-up-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.main-sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-sign-up-page p {
    margin-top: 10px;
}