.sign-up-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.main-SignUp-Page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-SignUp-Page p {
    margin-top: 10px;
}