.contact-wrapper {
    max-width: 1200px;
    text-align: center;
}

.main-contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

.contact-page {
    margin-bottom: 25px;
}


@media screen and (min-width: 576px){
    .main-contact-page {
        flex-wrap: nowrap;
        margin: 30px 0;
    }

    .main-contact-page p {
        margin-top: 10px;
    }

    .contact-page {
        margin-bottom: 50px;
    }
}

