.form-container {
    background-color: #A7C957;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-left: 10px
}

.input-with-error {
    display: inline-block;
}
.input-with-error p {
    color: red;
    font-size: 10px;
    margin-left: 5px;
}

.name-phone input,
.address-email input,
textarea {
    padding: 10px;
    outline: none;
}

.name-phone input {
    margin: 30px 5px 10px 5px;
    padding: 5px;
    width: 40vw;
}
.address-email input {
    margin: 15px 5px 10px 5px;
    width: 40vw;
}

.text-contact {
    margin: 20px 15px 10px 15px;
    width: 80vw;
}

.btn-send-contact {
    margin: 15px 0 30px 0;
}

.error {
    display: flex;
    justify-content: flex-start;
}


@media screen and (min-width: 576px) {
    .form-container {
        width: 750px;
    }

    .name-phone input {
        max-width: 250px;
    }
    .address-email input {

        max-width: 250px;
    }

    textarea {
        max-width: 500px;
    }
}

