/** {*/
/*    border: 1px solid red;*/
/*}*/

.main-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.offer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #A7C957;
}

.header-offer {
    font-weight: bold;
    border: 2px solid #5F5F5F;
    margin-bottom: 20px;
    padding: 5px;
    width: 350px;
    display: flex;
    justify-content: center;
}

.input-offer input {
    padding: 5px 9px 5px 9px;
    margin: 5px;
    outline: none;
}

.input-person {
    margin: 5px;
    display: inline-block;
}

.input-person input {
    width: 350px;
    padding: 5px;
    outline: none;
}

.input-offer textarea {
    outline: none;
    padding: 5px;
    display: flex;
    align-items: flex-start;

}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5px;
}

.btn-offer-message,
.btn-offer-phone {
    background-color: #5F5F5F;
    color: white;
    outline: none;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
}





