/** {*/
/*    border: 1px solid red;*/
/*}*/

.header-request-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.request-wrapper {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.request-component {
    padding: 10px;
}
