.request-page-wrapper {
    width: 1200px;
}

.header-request-page {
    width: 370px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
}

.request-component {
    margin-bottom: 10px;
}

@media screen and (min-width: 576px) {

    .header-request-page {
        padding: 10px;
        margin-top: 10px;
        width: 90%;
    }

    .request-wrapper {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .request-component {
        padding: 10px;
    }
}


