/**{*/
/*    border: 1px solid red;*/
/*}*/

.main-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 60px 30px 60px;
    /*border: 3px solid gray;*/
    background-color: #A7C957;
}

.register-form input {
    padding: 10px;
    margin: 1rem;
    width: 250px;
    outline: none;
}

.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn-register {
    background-color: #5F5F5F;
    color: white;
    padding: 15px;
    border: none;
    text-align: center;
    display: inline-block;
    width: 150px;
    outline: none;
    margin-top: 20px;
}

/*label {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*    flex-direction: column;*/
/*}*/