/**{*/
/*    border: 1px solid red;*/
/*}*/

.main-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 50px 0;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: #A7C957;
}

.register-form input {
    padding: 5px;
    margin: 0.5rem;
    width: 175px;
    outline: none;
}

.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn-register {
    background-color: #5F5F5F;
    color: white;
    padding: 15px;
    border: none;
    text-align: center;
    display: inline-block;
    width: 150px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}

.display-error {
    display: inline-block;
}

.display-error p {
    color: red;
    font-size: 10px;
    margin: 5px 0 15px 10px;
}

label {
    display: block;
}

.label-reg {
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

@media screen and (min-width: 576px ){
    .register-form input{
        width: 250px;
        padding: 10px;
        margin: 0.5rem 1rem 1rem 1rem;
    }

    .register-form {
        padding: 30px 60px;
    }

    .label-reg {
        margin-left: 20px;
    }

    .display-error p {
        margin: 0 0 15px 20px;
        font-size: 12px;
    }
}
