/** {*/
/*    border: 1px solid red;*/
/*}*/

.top-image {
    width: 100%;
    margin-top: 117px;
    /*height: 15vh;*/
}

.top-image img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}